@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.primary-btn {
  @apply border p-2 rounded-md;
}
.slideInFromTop {
  animation: 1s ease-out 0s slideInFromTop;
}

.zoomOut {
  animation: 500ms ease-out 0s zoomOut;
}

.fadeIn {
  animation: 2s ease-out 0s fadeIn;
}

@keyframes zoomOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
